/* --> ADD TICKET begin... < -- */
#titl{
	color: #14a686;
    float: left;
    font-size: 160%; font-weight: bold;
    margin-bottom: 2px;
    padding-bottom: 3px; padding-top: 10px;
    width: 280px; height:30px;
	  display:none;
}
#mess_bet{
	width: 400px; height:30px; 
	padding: 2px;
	font-size: 115%;
	border: 1px solid;
	clear: right;
	position: absolute;
	border-radius: 4px;
  top: 80px;
  right:30px;
  font-weight: 900;
}
	.message-blue {
		background: #18ba9a;
    color: #fff;
    border-color: #14a686;
    
	}
	
	.message-red {
		background: #FCBFC4;
		color: #800;
		border-color: #800;
	}

#div_bet{
	float:left; 
	width: 800px;
	height:360px;
	border: 2px solid #14a686;
	margin-bottom: 5px;
  padding: 2px;
}
#left_bet{
	float:left; 
	clear:left; 
	width:300px; 
	height:350px; 
}
	#RacesLoad{
		margin-top:10px; margin-left:20px;
	}
	#div_hipo{
		width:auto; height: 40px;
		padding: 2px 4px;
        margin: 3px 3px 3px 0;
		float: left; clear: none;
	}
	#div_race{
		width:70px; height: 40px;
		margin: 3px 3px 3px 0;
		padding: 2px 4px;
    border-left: 1px solid black;
		float: left; clear: none;
	}
	.divs_right{
		width:295px;
		height: 50px;
		margin-left: 3px;
		    margin-top: 3px;
    border-top: 3px solid #14a686;
	}
	.plays{
		height: 150px;
	}
		.plays button{
			width:80px;
			margin-top: 10px; 
			margin-left:10px;
		}
	.resumen{
		height: 190px; width: 230px;
		clear: none; float:left;
	}
	
#div_horses{
	width:300px; 
  height: 350px;
	margin: 0px 0px 0 0;
	border: 0px solid black;
	overflow-y: scroll;
	float:left; clear: none;
}

#right_bet{
	float: left; 
    clear: none; 
	width: 170px; 
    height: 250px;
	margin: 3px 3px 3px 0;
}
    .balance-part {
        
        padding-left: 0px;
    }
    .title-balance {
        font-style: italic;
    }
    .amo-balance {
        font-size: 14pt;
        color: blue;
        font-weight: bold;
        float: right;
    }
    .units-section {
        float:left; 
        clear:none; 
        width: 98%; 
        margin-left: 5px; 
        margin-top:5px;
        color: blue;
    }

    .each-field{
        width: 70px;
        font-size:14pt;
        color: #34495E;
        clear:none;
        float: left;
    }
    .each-list{
        clear: none;
        float: right;
        font-size: 14pt;
    }


#posiciones{
	margin-bottom:0px;
}

.button-clicked{
	background:#FFF;
	border-color: #14a686;
	color: #14a686;
}

.actual{
	font-weight:bolder;
	border: 1px solid black;
	background-color:#CCC;
}

.added{
	clear:none;
	float:left;
	border: 1px solid blue;
	margin-right: 3px;
	padding: 2px;
}

#TicketTotal{
	width:85px;
	font-size:14pt;
	color: blue;
}
#lil_butns{
	  float: left;
    clear: none;
    width: 50px;
    height: 160px;
    margin-right: 2px;
    border-left: 3px solid #14a686;
    margin-top: 3px;
    padding: 5px;
}
}
	#lil_butns button{
		margin-top: 15px; 
		margin-left:5px;
	}
/* LIST HORSE PART */
#list_horses tr td {
	border-right: 1px solid #ccc;
	border-left:none;
	vertical-align: middle;
}
.row_horse{
	cursor:pointer;
	height:15px;
}
.row_over{
	background: #DBEDD0;
	font-weight:bold;
	border: 1px solid black;
}
#premio{
	float:left; clear:none; 
	width: 90px; 
	margin-left: 5px; margin-top:5px;
}
#montapos{
	float:left; clear:none; 
	width: 170px; 
	margin-left: 5px; margin-top:5px;
}
.ui_check{
	height:18px;
	width:18px;
	float: left;
	margin-left:8px;
	margin-top:3px;
	margin-bottom:3px;
	border: 1px solid #14a686;
}
	.ui_checked{
		background-image:url("../img/check.jpg")
	}
/* --> ADD TICKET end... < -- */


/* --> RESULTS begin... < -- */
.number-race{
	width: 45px;
	font-size:130%;
}
.retired-horses {
    text-align: left;
    vertical-align: top;
}
.retired-elem{
    border: 1px solid red;
    background-color: #FCC7C7;
    float: left;
    padding: 1px 4px;
    margin: 4px 2px;
    width: auto;
    border-radius: 4px;
}
.del-ret{
    padding: 1px 10px;
    color: red;
    font-size: 12pt;
}
.del-ret:hover {
    text-decoration: none;
    color: #000;
}
.special-res {
    text-align: left;
}
.special-res label{
    display: inline;
    padding-right: 2px;
    margin-left: 5px;
    font-size:120%;
}
.specials{
	width:45px;
	font-size:130%;
}
.save-results{
	width: 200px;
	margin-top:20px;	
}
.stat_loader{
	border: 1px solid red; 
	width: 400px; 
	height: 25px;
	background-color:#FCC7C7;
	color: Red;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 120%;
}
.stat_loader_done{
	border: 1px solid green; 
	background-color:#B1F4B0;
	color: Green;
}
.img_wait{
	width:20px;
	height:20px;
	float: right;
	margin-right: 5px;
	background-image:url("../img/wait.png");
}
.img_done{
	background-image:url("../img/check.png");
}
#get_backer{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 120%;
	cursor: pointer;
}

/* --> RESULTS end... < -- */

/* --> ADD PICK begin... < -- */

/* --> ADD PICK end... < -- */



@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px) {
/* --> ADD TICKET begin... < -- */
#titl{
	display:none;
}
#mess_bet{
	width: 300px; height:20px; 
	padding: 0px;
	margin-bottom: 5px;
	font-size: 90%;
	border: 1px solid;
	clear: right;
	float: left;
	border-radius: 4px;
	position: relative;
  top: 0px;
	left:20px;
}
	.message-blue {
		background: #C9D4EF;
		color: #008;
		border-color: #008;
	}
	
	.message-red {
		background: #FCBFC4;
		color: #800;
		border-color: #800;
	}

#div_bet{	  
        width: 300px;
    height: 100%;
    border: none;
    position: relative;
    top: 0px;
    left: 10px;
   
}
#left_bet{
	    width: 300px;
  height: auto; 
}
	#RacesLoad{
		margin-top:10px; margin-left:20px;
	}
	#div_hipo{
		width:auto; height: 40px;
		padding: 2px 4px;
        margin: 3px 3px 3px 0;
		float: left; clear: none;
	}
	#div_race{
		width:70px; height: 40px;
		margin: 3px 3px 3px 0;
		padding: 2px 4px;
        border-left: 1px solid black;
		float: left; clear: none;
	}
	.divs_right{
		width:295px;
		height: 50px;
		margin-left: 3px;
		margin-top:1px;
		border-top: 1px solid black;
	}
	.plays{
		height: 100%;
	}
		.plays button{
			width:50px;
			height: 40px;
			margin-top: 1%; 
			margin-left:1%;
		}
	.resumen{
		display:none;
	}
	
#div_horses{
	max-width: 300px;
	 height:300px;   
    border: none;
    overflow-y: scroll;
      margin-top: 3px;
}

#right_bet{
	float: left; 
    clear: none; 
	    width: 300px; 
    height: 30px;
	margin: 3px 3px 3px 0;
}
    .balance-part {
            position: absolute;
            top:0px;
            left: 220px;
			      
    }
    .title-balance {
        display:block;
    }
    .amo-balance {
        font-size:1.3em;
        font-weight: bold;
        float: right;
    }
    .units-section {
            width: 100%;
    margin-left: 5px;
    margin-top: 0px;
    }

    .each-field{
    display:none;
	  width: 120px;
    font-size: 1.7em;
    position: absolute;
    left: 0px;
    top: 425px;    
    }
    .each-list{
    width: 130px;
    font-size: 1.7em;
    position: absolute;
    left: 0px;
    top: 400px; 
    }

#posiciones{
	margin-bottom:0px;
}

.button-clicked{
	background:#FFF;
	border-color: #14a686;
	color: #14a686;
}

.actual{
	font-weight:bolder;
	border: 1px solid black;
	background-color:#CCC;
}

.added{
	clear:none;
	float:left;
	border: 1px solid blue;
	margin-right: 3px;
	padding: 2px;
}

#TicketTotal{
	width:85px;
	font-size:14pt;
	color: blue;
}
#lil_butns{
	display:none;
}
	#lil_butns button{
		margin-top: 15px; 
		margin-left:5px;
	}
/* LIST HORSE PART */
#list_horses tr td {
	border-right: 1px solid #ccc;
	border-left:none;
	vertical-align: middle;
}
.row_horse{
	cursor:pointer;
	height:15px;
}
.row_over{
	background: #DBEDD0;
	font-weight:bold;
	border: 1px solid black;
}
#premio{
	float:left; clear:none; 
	width: 90px; 
	margin-left: 5px; margin-top:5px;
}
#montapos{
	 position: absolute;
    right: -15px;
    top: 278px;
    zoom: 1.4;
    width:135px;
}
.ui_check{
	height:18px;
	width:18px;
	float: left;
	margin-left:8px;
	margin-top:3px;
	margin-bottom:3px;
	border: 1px solid #14a686;
}
	.ui_checked{
		background-image:url("../img/check.jpg")
	}
/* --> ADD TICKET end... < -- */


/* --> RESULTS begin... < -- */
.number-race{
	width: 45px;
	font-size:130%;
}
.retired-horses {
    text-align: left;
    vertical-align: top;
}
.retired-elem{
    border: 1px solid red;
    background-color: #FCC7C7;
    float: left;
    padding: 1px 4px;
    margin: 4px 2px;
    width: auto;
    border-radius: 4px;
}
.del-ret{
    padding: 1px 10px;
    color: red;
    font-size: 12pt;
}
.del-ret:hover {
    text-decoration: none;
    color: #000;
}
.special-res {
    text-align: left;
}
.special-res label{
    display: inline;
    padding-right: 2px;
    margin-left: 5px;
    font-size:120%;
}
.specials{
	width:45px;
	font-size:130%;
}
.save-results{
	width: 200px;
	margin-top:20px;	
}
.stat_loader{
	border: 1px solid red; 
	width: 400px; 
	height: 25px;
	background-color:#FCC7C7;
	color: Red;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 120%;
}
.stat_loader_done{
	border: 1px solid green; 
	background-color:#B1F4B0;
	color: Green;
}
.img_wait{
	width:20px;
	height:20px;
	float: right;
	margin-right: 5px;
	background-image:url("../img/wait.png");
}
.img_done{
	background-image:url("../img/check.png");
}
#get_backer{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 120%;
	cursor: pointer;
}

/* --> RESULTS end... < -- */

/* --> ADD PICK begin... < -- */

/* --> ADD PICK end... < -- */
}






